@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
body{
    width: 100%;
    overflow-x:hidden;
    margin: 0px;
    padding: 0px;
}

#image{
    width: 40rem;
    z-index: -2;
}

#heading{
    background-color: #042C71;
    color: rgb(255, 255, 255);
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    padding: 1rem;
    margin-top: 0%;
    font-weight: 500;
}

#domain{
    color: #ffffff;
    font-size: 1rem;
    font-weight: 450;
}

.img-div{
    margin: 4rem 2rem;
}

#body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
}

#cs-text-1{
    font-weight: 400;
    font-size: 2rem;
    color: rgb(238, 76, 17);
    margin-left: 1rem;
    font-family: "Montserrat", "sans-serif";
}

#cs-text-2{
    font-weight: 800;
    font-size: 5rem;
    margin-top: -5rem;
    font-family: "Montserrat", "sans-serif";
}



#cs-text-para{
    font-family: "Montserrat", "sans-serif";
    margin-top: -3rem;
    font-size: 1.5rem
}

footer{
    background-color: #042C71;
    color: #ffffff;
    padding: .5rem;
    font-family: "Poppins","sans-serif";
    text-align: center;
    margin-top: 4rem;
    font-size: 1rem;
}